{%- if include.title -%}
<h1 class="page-heading">{{ include.title }}</h1>
{%- endif -%}

<details open=true>
    <summary>Show/Hide</summary>
<ul class="post-list">
    {% if include.sortby %}
        {% assign sortedCategories = site.categories[include.category] | sort: include.sortby %}
    {% else %}
        {% assign sortedCategories = site.categories[include.category] %}
    {% endif %}
    {% for post in sortedCategories %}
    <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
        {% if include.showindex %}
            {{ forloop.index + 1 }}.
        {% endif %}
        {{ post.title | escape }}
        </a>
    </h3>
    {%- if site.show_excerpts -%}
        {{ post.excerpt }}
    {%- endif -%}
    </li>
    {% endfor %}
</ul>
</details>
